@import "../../../../styles/colors.module.scss";

.container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
}

.subTitle {
    font-size: 18px;
    font-weight: bold;
    color: $accentYellow;
    margin: 20px 0 0 20px; /* Alinhando com o .title */
}

.title {
    font-size: 40px;
    font-weight: bold;
    line-height: 50px;
    margin-top: 20px;
    margin-left: 20px;
}

.description {
    font-size: 20px;
    color: $lightGray;
    margin: 20px 0 40px 20px;
}

.link {
    text-decoration: none;
}

.btnCta {
    font-weight: bold;
    color: white;
    display: flex;
    align-items: center;
    gap: 25px;
    padding: 14px 30px;
    border: 2px solid $accentYellow;
    margin-top: 20px;
    margin-left: 20px;
}

.btnImg {
    width: 11px;
}

.btnCta:hover {
    border-color: chocolate;
    color: $lightGray;
    background-color: transparent;
}

.imgPresentation {
    width: 100%;
    max-width: 630px;
    padding-left: 60px;
    object-fit: cover;
}

.arrowDown {
    width: 30px;
}

@media (max-width: 1199px) and (min-width: 991px) {
    .title {
        font-size: 30px;
        line-height: 40px;
    }

    .description {
        font-size: 16px;
    }

    .imgPresentation {
        margin: 30px auto;
    }
}

@media (max-width: 991px) {
    .container {
        align-items: center;
        text-align: center;
    }

    .title {
        font-size: 28px;
        line-height: 36px;
    }

    .description {
        font-size: 16px;
    }

    .imgPresentation {
        width: 90%;
        margin: 20px auto;
    }
}

@media (max-width: 590px) {
    .title {
        font-size: 26px;
        line-height: 34px;
    }

    .description {
        font-size: 14px;
    }

    .btnCta {
        padding: 10px 24px;
    }

    .imgPresentation {
        width: 95%;
        padding-left: 0; /* Remove padding to avoid white space */
    }
}

@media (max-width: 359px) {
    .subTitle {
        font-size: 14px;
    }

    .title {
        font-size: 20px;
    }

    .description {
        font-size: 12px;
    }

    .imgPresentation {
        width: 100%;
        padding-left: 0; /* Ensure no white space */
    }
}
