@import "../../../../styles/colors.module.scss";

.ctaSection {
    background-color: $accentYellow;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    gap: 20px;
    border-radius: 3px;
}

.imgCta {
    width: 40px;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 0 20px;
    overflow: hidden;
    margin-top: 20px;
}

.imgLogoNav {
    max-width: 250px;
    height: auto;
    margin: 0;
    margin-top: 0px;
}

.navBtn {
    margin: 0px 15px;
    border: 2px solid transparent;
    color: $lightGray;
    padding: 8px 15px;
    transition: 0.3s;
    cursor: pointer;
}

.navBtn:hover {
    border-color: $accentYellow;
    color: white;
    background-color: transparent;
}

@media (max-width: 991px) {
    .imgLogoNav {
        width: 150px;
    }
}

@media (max-width: 768px) {
    .nav {
        flex-direction: column;
        align-items: center;
    }
    .imgLogoNav {
        margin-bottom: 10px;
    }
    .navBtn {
        margin: 10px 0;
        font-size: 16px;
    }
}

@media (max-width: 456px) {
    .ctaSection {
        gap: 10px;
    }
    .nav {
        justify-content: center;
        padding: 0 10px;
    }
    .navBtn {
        font-size: 14px;
    }
    .imgLogoNav {
        width: 120px;
    }
}

@media (max-width: 335px) {
    .ctaSection {
        text-align: center;
    }
    .imgCta {
        margin: 0 8px;
    }
    .navBtn {
        font-size: 12px;
    }
}
