@import "../../../../styles/colors.module.scss";

.ctaSection {
    background-color: $accentYellow;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4px 0;
    gap: 30px;
}

.imgCta {
    width: 40px;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 20px;
    padding: 0 20px;
}

.imgLogoNav {
    width: 600px; /* Ajuste conforme necessário */
    margin: 0;
}

.navBtn {
    margin: 0 20px;
    border-color: transparent;
    color: $lightGray;
    transition: 0.5s;
    &:hover {
        border-color: $accentYellow;
        color: white;
        background-color: transparent;
    }
}

@media (max-width: 991px) {
    .imgLogoNav {
        width: 150px; /* Ajuste conforme necessário */
    }
}

@media (max-width: 768px) {
    .nav {
        flex-direction: column;
        align-items: center;
    }
    .imgLogoNav {
        margin-bottom: 10px;
    }
    .navBtn {
        margin: 10px 0;
    }
}

@media (max-width: 456px) {
    .ctaSection {
        gap: 10px;
    }
    .nav {
        justify-content: center;
        padding: 0 10px;
    }
    .navBtn {
        margin: 10px 0;
        font-size: 14px;
    }
    .imgLogoNav {
        width: 120px; /* Ajuste conforme necessário */
    }
}

@media (max-width: 335px) {
    .ctaSection {
        text-align: center;
    }
    .imgCta {
        margin: 0 8px;
    }
    .navBtn {
        font-size: 12px;
    }
}
