@import "../../../../styles/colors.module.scss";


.header {
  background-color: black;
  height: 100px;
}
.headerContainer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 20px 0px;
}
.headerLogo {
  margin-top: -20px;
  width: 100px;
  cursor: pointer;
}
.headerBtn {
  margin-top: 10px;
  &:hover {
    border-color: $accentYellow;
    color: $lightGray;
    background-color: transparent;
  }
}
@media (max-width: 472px) {
  .headerContainer {
    padding: 20px 26px;
    gap: 20px;
  }
}
@media (max-width: 402px) {
  .headerContainer {
    justify-content: center;
  }
}
